.home-container{
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    position: relative;
    margin: 40px ;
}
.tshirt-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.cart-container{
    margin:0 30px;
    box-shadow: 0 0  10px rgba(0, 0, 0, .5);
    border-radius: 10px;
    min-height: 100vh;
    position: sticky;
    top: 0;
}